<h1>Thank you for buying my book!</h1>

<% if (!book) { %>
    <div class="alert alert-danger" role="alert">
        Data not exist <a href="/book" class="alert-link">back</a>.
    </div>
    <% } else {%>

        <div class="container">
            <div class="card" style="width: 18rem;">
                <img src="/pic/<%= book.bookCover %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=book.title%>
                    </h5>
                    <p class="card-text">
                        <%=book.description%>
                    </p>
                    <p>
                        <%=book.price %>
                    </p>
                </div>
            </div>
        </div>
        <% } %>

            <a href="/book">Back to home</a>