<p>Welcome to my Library!</p>
<p style="text-align:center">List of available book!</p>

<div class="container">
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th rowspan="2">No.</th>
            <th rowspan="2">Book Cover</th>
            <th colspan="3">Detail</th>
            <th rowspan="2" colspan="2">Action</th>
        </tr>

        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
        </tr>

        <% if (books.length===0) { %>
            <tr>
                <td colspan="6">
                    <div class="alert alert-danger" role="alert">
                        Data not exist
                    </div>
                </td>
            </tr>

            <% } %>

                <% books.forEach((element, index)=> { %>
                    <tr>
                        <td style="text-align: center;">
                            <%= ++index %>
                        </td>
                        <td>
                            <img src="pic/<%= element.bookCover %>" width="100" height="120">
                        </td>
                        <td>
                            <%= element.title %>
                        </td>
                        <td>
                            <%= element.description %>
                        </td>
                        <td>
                            <%= element.price %>
                        </td>
                        <td><a href="/book/<%=element.title%>" class="btn btn-success">Buy</a></td>
                    </tr>
                    <% }) %>
    </table>
</div>