<p>Please input your personal information to register.</p>

<form class="container" style="width:700px" id="form">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" value="Ayu" readonly>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLName" required>
        </div>
        <span id="error"></span>
    </div>

    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" id="error">
        </div>
    </div>

    <div class="row mb-3">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <span id="errorPass"></span>
    </div>

    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRMale" value="Male" checked>
                <label class="form-check-label" for="gridMale">
                    Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridFemale" value="Female">
                <label class="form-check-label" for="gridFemale">
                    Female
                </label>
            </div>
        </div>
    </fieldset>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Birthday</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="birthday">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Select a profile picture:</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" id="file">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                    Are you sure your data above is correct?
                </label>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" id=submit>Register</button>
</form>

<script src="js/register.js"></script>
</body>